{% extends 'landing_page.html'%}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Login Form</h2>
      <div class="text-center mb-5 text-dark">Made with bootstrap</div>
      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5"  action="", method="post">

          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile">
          </div>

          <div class="card-body">
            <form action="", method="post">
              {% csrf_token %}
        
              {{form.as_p}}
        
             <div class="container text-center">
              <button type="submit" class="btn btn-primary"><h3>Log In</h3></button>
              <br>
              <a style="margin-top: 10px;" class="btn btn-secondary" href="{% url 'users:register_page'%}"><h3>Register now</h3></a>
                 
             </div>
          </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

         
         

{% endblock %}