{% extends 'landing_page.html'%}

{% load static %}
{% block content %}


<div class="container mt-4 mb-4 p-3 d-flex justify-content-center" style="width: 1000px;"> 
  <div class="card p-4"> 
    <div class=" image d-flex flex-column justify-content-center align-items-center"> 
      <button class="btn btn-secondary"> <img src="{{user.photo.url}}"  height="250" width="250" /></button> 
      <span class="name mt-3"><h1>{{user.first_name}}</h1></span> <span class="idd"><h2>@{{user.username}}</h2></span> 
      <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1"><h2>{{user.phone_number}}</span> 
        <span><i class="fa fa-copy"></i></span> </h2>
      </div>
      
        <div class=" d-flex mt-2"> <h3>
            <a href="{% url 'users:profile_update' %}" class="btn btn-dark"><h3>Edit Profile</h3></a> 
            <a href="{% url 'users:logout_page' %}" class="btn btn-dark"><h3>Log out</h3></a></h3>
          </div> 
         
              <div class="gap-3 mt-3 icons d-flex flex-row justify-content-right align-items-right">
                <h3>
                 <span><i class="fa fa-twitter"></i></span>
                  <span><i class="fa fa-facebook-f"></i></span> 
                  <span><i class="fa fa-instagram"></i></span> 
                  <span><i class="fa fa-linkedin"></i></span> 
                </div> 
                <div class=" px-2 rounded mt-4 date "> 
                  <span class="join"><h3 class="fst-italic">Joined {{user.date_joined|date:"M d, Y"}}</h3></span>
                </div> </h3>
         </div>
     </div>
</div>
{% endblock %}